.services{
    background: url('../image/useer-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .overlay{
        padding: 40px 0px;
        background: #00000060;
        h2{
            @include heading1;
            text-align: left;
            color: $white;
        }
        p{
            @include pera;
            margin-bottom: 40px;
            color: $whiteLight;
        }
        .card{
            padding: 20px;
            border: none;
            border-radius: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
            background: $white;
            box-shadow: 1px 3px 7px #00000060;
            transition: $t-3;
            .card_header{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                .icon_box{
                    height: 100px;
                    width: 100px;
                    background: url('../image/shape.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 40px;
                        color: $white;
                    }
                }
            }
            .card_body{
                h3{
                    text-align: center;
                    font-size: 25px;
                    font-weight: 400;
                    color: $black;
                }
                p{
                    @include pera;
                    text-align: center;
                }
            }
            &:hover{
                box-shadow: 1px 13px 27px #00000060;
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    }
}